.homeHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 65rem;
    text-decoration: none;
}

.gameTitle {
    font-family: 'Pixelify Sans';
    color: white;
    font-size: 20rem;
    margin: 0;
}

.simpleButton {
    background-color: #24A681;
    border: none;
    border-radius: 0.5em;
    font-size: 2em;
    font-weight: 500;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.generalButton {
    background-color: #F28705;
    border: none;
    border-radius: 0.5em;
    font-size: 2rem;
    font-weight: 500;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.onlineButton {
    background-color: #194FE8;
    border: none;
    border-radius: 0.5em;
    font-size: 2rem;
    font-weight: 500;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.simpleButton:hover {
    background-color: white;
    color: #24A681;
}

.generalButton:hover {
    background-color: white;
    color: #F28705;
}

.onlineButton:hover {
    background-color: white;
    color: #194FE8;
}

h2 {
    margin: 0;
    transform: translateY(5rem);
    color: white;
}

.pageHeader {
    color: white;
    font-size: 5rem;
}

a {
    text-decoration: none;
    color: white;
}

.boardChoice {
    background-color: #583BBF;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    transition: 0.25s;
    cursor: pointer;
}

.boardChoice:hover {
    background-color: white;
    color: #583BBF;
}